---

- name: Debug | ansible_facts['service_mgr']
  ansible.builtin.debug:
    var: ansible_facts['service_mgr']

- name: Systemd
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 16) or
    (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version']|int >= 7)
  block:
    - name: Install systemd configuration
      ansible.builtin.template:
        src: systemd-caldera.service.j2
        dest: /lib/systemd/system/caldera.service
        mode: '0644'
        backup: true
      register: systemd
      notify:
        - Reload systemd
        - Restart caldera

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Enable and start caldera systemd service
  ansible.builtin.service:
    name: caldera
    enabled: true
    state: 'started'
  when:
    - not is_container | bool

- name: Docker | start caldera HEAD
  ansible.builtin.shell:  # noqa no-changed-when
    cmd: nohup {{ caldera_home }}/env-caldera/bin/python {{ caldera_rootdir }}/server.py --build &
  args:
    chdir: "{{ caldera_rootdir }}"
  when:
    - (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")
