{{ ansible_managed | comment }}
[Unit]
Description=MITRE Caldera automated adversary emulation system
After=network.target

[Service]
Type=simple
{% if caldera_version == '63e50b9629b9a78b5a279891300721d5dd4311ea' %}
ExecStart={{ caldera_home }}/env-caldera/bin/python {{ caldera_rootdir }}/caldera/caldera.py
WorkingDirectory={{ caldera_rootdir }}/caldera
{% else %}
ExecStart={{ caldera_home }}/env-caldera/bin/python {{ caldera_rootdir }}/server.py -E local
WorkingDirectory={{ caldera_rootdir }}
{% endif %}
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier=caldera
User={{ caldera_user }}
{% if ansible_os_family == 'RedHat' %}
Group=nobody
{% else %}
Group=nogroup
{% endif %}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
